---
import ProjectGallery from "./components/ProjectGallery.astro";
import ProjectSectionHeader from "./components/ProjectSectionHeader.astro";
---

<section>
    <ProjectSectionHeader />
    <ProjectGallery />
</section>

<style>
    section {
        margin: 120px 0 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>
