<ul>
    <li><iconify-icon icon="ph:code"></iconify-icon><span>Metódico</span></li>
    <li>
        <iconify-icon icon="mingcute:microphone-line" rotate="90deg"
        ></iconify-icon><span>Comunicativo</span>
    </li>
    <li>
        <iconify-icon icon="fa6-solid:arrows-turn-to-dots"></iconify-icon><span
            >Adaptable</span
        >
    </li>
    <li>
        <iconify-icon icon="ph:strategy"></iconify-icon><span>Analítico</span>
    </li>
</ul>

<style>
    ul {
        display: flex;
        gap: 0.5rem;
        list-style: none;
        & li {
            display: flex;
            background-color: var(--primary);
            padding: 8px 16px;
            border-radius: 999rem;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            color: var(--white-1);
            & iconify-icon {
                font-size: 24px;
            }
            & span {
                font-weight: 400;
                font-size: 18px;
            }
        }
    }
</style>
