---
import Footer from "../components/footer/Footer.astro";
import Header from "../components/header/Header.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/styles/normalize.css" />
        <link rel="stylesheet" href="/styles/customize.css" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
        <script
            src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"
        ></script>
    </body>
</html>
<style is:global>
    * {
        box-sizing: border-box;
    }
    :root {
        --primary: #7710a6;
        --secondary: #c561f6;
        --white-0: #ffffff;
        --white-1: #fefeff;
        --white-2: #e3e6ee;
        --paragraph-color: #8490b5;
    }
    html {
        font-family: system-ui, sans-serif;
        background: #080a11;
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
</style>
